In [1]:
# Import libraries
import pandas as pd

# Creating, Reading and Writing

### Creating `DataFrames`

In [2]:
fruits = pd.DataFrame({'Apple':30,
                       'Bananas':21},
                       index=['2017 Sales','2018 Sales'])
fruits

            Apple  Bananas
2017 Sales     30       21
2018 Sales     30       21

### Creating `Series`

In [3]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'],
                        index=['Flour','Milk','Eggs','Spam'],
                        name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

### Reading `CSV`

In [4]:
# Por defecto agrega un nuevo index y vuelve columna el pasado
# Para evitar ingrese la columna
reviews = pd.read_csv('winemag-data_first150k.csv',index_col=0)
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

---

# Indexing, Selecting and Assigning

In [5]:
reviews = pd.read_csv('winemag-data-130k-v2.csv',index_col=0)
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

### Select a `Column` from a Dataframe

In [6]:
desc = reviews.description # or: reviews['description']
desc.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

### Select a `Row` from a Dataframe

In [7]:
reviews.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

### Select a `Value` from a Dataframe

In [8]:
first_description = reviews['description'][0] # or: reviews.description.iloc[0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

### Select `Many Values` from a column in a Dataframe

In [9]:
reviews.description.iloc[:10]

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

### Selecting different `Rows` and different `Columns` from a Dataframe

In [10]:
reviews.loc[[0,1,10,100],['country','province','region_1','region_2']]

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

`Note:`
For example 
- `iloc[0:1000]`: gives `1000` records
- `loc[0:1000]`: gives `1001` records

### Selecting a `conditional` value from a Dataframe

In [11]:
italian_wines = reviews[reviews['country'] == 'Italy']
italian_wines.head(3)

# italian_wines = reviews.loc[reviews.country == 'Italy'] <-- Another way to do it.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte

In [12]:
reviews.country.value_counts()

country
US                        27177
France                    11174
Italy                     10005
Spain                      3409
Portugal                   2963
Chile                      2258
Argentina                  1907
Austria                    1635
Australia                  1177
Germany                    1051
South Africa                737
New Zealand                 733
Israel                      259
Greece                      242
Canada                      108
Bulgaria                     68
Romania                      67
Uruguay                      61
Hungary                      61
Croatia                      44
Turkey                       43
Slovenia                     39
Georgia                      37
England                      36
Mexico                       31
Brazil                       31
Moldova                      30
Lebanon                      20
Morocco                      11
Peru                          8
Serbia                        7
Macedonia                     6
Czech Republic                6
Cyprus                        6
Ukraine                       5
Luxembourg                    4
India                         4
Switzerland                   4
Armenia                       1
Bosnia and Herzegovina        1
Slovakia                      1
Name: count, dtype: int64

### Selecting `different rows` and `different conditionals` from a Dataframe

In [13]:
# Containing at least 95 points (out of 100) for wines from Australia or New Zeland
top_oceania_wines = reviews.loc[(reviews.country.isin(['Australia','New Zealand'])) & (reviews.points >= 95) & (reviews.points <= 100)]
top_oceania_wines.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards

---

# Summary Functions and Maps

### The more basic summary function

In [14]:
reviews.points.describe()

count    65499.000000
mean        88.434037
std          3.030310
min         80.000000
25%         86.000000
50%         88.000000
75%         91.000000
max        100.000000
Name: points, dtype: float64

Also, can be applied to strings

In [15]:
reviews.taster_name.describe()

count          51856
unique            19
top       Roger Voss
freq           13045
Name: taster_name, dtype: object

To see a list of `unique values`we can use this function

In [16]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

### `map()` and `apply()`

The `map()` gives you a `pandas.Series` with the function you pass in the function

In [17]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0       -1.434037
1       -1.434037
2       -1.434037
3       -1.434037
4       -1.434037
           ...
65494    1.565963
65495    1.565963
65496    1.565963
65497    1.565963
65498    1.565963
Name: points, Length: 65499, dtype: float64

`Apply()` is the same but gives you a `pandas.Dataframe` instead of a Series

In [18]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns').head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.434037,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.434037,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [19]:
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

`Note.` As we can see, the functions don't modify the original data, it returns new values.

### You can `combine different columns` in the dataframe

In [20]:
reviews.country + ' - ' + reviews.region_1

0                    Italy - Etna
1                             NaN
2          US - Willamette Valley
3        US - Lake Michigan Shore
4          US - Willamette Valley
                   ...
65494            France - Chablis
65495    Australia - McLaren Vale
65496       US - Dry Creek Valley
65497            US - Napa Valley
65498               Spain - Jerez
Length: 65499, dtype: object

---

# Grouping and Sorting

In [21]:
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

`agg()` function

In [22]:
reviews.groupby('country')['price'].agg([len,min,max]).head()

C:\Users\Frank Ibarra\AppData\Local\Temp\ipykernel_19364\2954394885.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby('country')['price'].agg([len,min,max]).head()
C:\Users\Frank Ibarra\AppData\Local\Temp\ipykernel_19364\2954394885.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby('country')['price'].agg([len,min,max]).head()

                         len   min    max
country
Argentina               1907   4.0  230.0
Armenia                    1  14.0   14.0
Australia               1177   6.0  850.0
Austria                 1635   7.0  150.0
Bosnia and Herzegovina     1  13.0   13.0

### Multi-indexes

In [23]:
countries_reviewed = reviews.groupby(['country','province'])['description'].agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  1635
          Other              272
Armenia   Armenia              1
Australia Australia Other    131
          New South Wales     34
...                          ...
Uruguay   Juanico              8
          Montevideo          10
          Progreso             5
          San Jose             3
          Uruguay              7

[385 rows x 1 columns]

### Sorting

In [24]:
# To make it a normal dataframe (without multi-index)
countries_reviewed.reset_index(inplace=True)

In [25]:
countries_reviewed.sort_values(by='len',ascending=False) # ascending True is the default mode

                    country                   province    len
353                      US                 California  18122
375                      US                 Washington   4308
110                  France                   Bordeaux   3014
204                   Italy                    Tuscany   2985
369                      US                     Oregon   2691
..                      ...                        ...    ...
33   Bosnia and Herzegovina                     Mostar      1
42                 Bulgaria          Black Sea Coastal      1
39                   Brazil           Serra do Sudeste      1
31                  Austria  Österreichischer Perlwein      1
359                      US                   Kentucky      1

[385 rows x 3 columns]

In [26]:
# Use 'sort_index()' to get back like beginning
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
2      Armenia           Armenia     1
3    Australia   Australia Other   131
4    Australia   New South Wales    34
..         ...               ...   ...
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
382    Uruguay          Progreso     5
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

You can sort by more than one column at a time:

In [27]:
countries_reviewed.sort_values(by=['country','len'])

       country          province   len
1    Argentina             Other   272
0    Argentina  Mendoza Province  1635
2      Armenia           Armenia     1
6    Australia          Tasmania    23
4    Australia   New South Wales    34
..         ...               ...   ...
382    Uruguay          Progreso     5
384    Uruguay           Uruguay     7
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
379    Uruguay         Canelones    24

[385 rows x 3 columns]

In [28]:
reviews.groupby(['country','variety'])['variety'].count().sort_values(ascending=False)

country    variety
US         Pinot Noir                  4918
           Cabernet Sauvignon          3649
           Chardonnay                  3412
France     Bordeaux-style Red Blend    2380
Italy      Red Blend                   1870
                                       ...
Romania    Rosé                           1
US         Ugni Blanc                     1
           Touriga                        1
           Torrontés                      1
Argentina  Merlot-Cabernet Franc          1
Name: variety, Length: 1304, dtype: int64

---

# Data Types and Missing Values

### Data Types

To see what kind of `data type` are the values

In [29]:
reviews.price.dtype

dtype('float64')

To `change data type`

In [30]:
reviews.price.astype('string')

0        <NA>
1        15.0
2        14.0
3        13.0
4        65.0
         ...
65494    45.0
65495    22.0
65496    20.0
65497    31.0
65498    10.0
Name: price, Length: 65499, dtype: string

### Missing Data

- `NaN`: Not a Number

You can use `isnull()` or its companion `notnull()`

In [31]:
reviews[pd.isnull(reviews.country)].head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking

Replacing missing values
- `fillna()`

In [32]:
reviews.region_2.fillna('Unknown')

0                  Unknown
1                  Unknown
2        Willamette Valley
3                  Unknown
4        Willamette Valley
               ...
65494              Unknown
65495              Unknown
65496               Sonoma
65497                 Napa
65498              Unknown
Name: region_2, Length: 65499, dtype: object

Replacing values
- `replace()`: ('old word', 'new word')

In [33]:
reviews.taster_twitter_handle.replace('@kerinokeefe','@papasDonToño')

0        @papasDonToño
1           @vossroger
2          @paulgwine
3                  NaN
4          @paulgwine
             ...
65494       @vossroger
65495           @JoeCz
65496              NaN
65497              NaN
65498      @wineschach
Name: taster_twitter_handle, Length: 65499, dtype: object

---

# Renaming and Combining

### `rename` a column or an index

In [34]:
reviews.rename(columns={'points':'score'}).head(1)

,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [35]:
reviews.rename(index={0:'firstEntry',1:'secondEntry'}).head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
firstEntry,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
secondEntry,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [ ]:
reviews.rename_axis(index='wines').head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
wines,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

### `Combining` different dataframes

#### `concat([])`

Useful when we have data in different dataframe but having the `same columns`

In [36]:
canadian_youtube = pd.read_csv('CAvideos.csv')
canadian_youtube.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...

In [37]:
british_youtube = pd.read_csv('GBvideos.csv')
british_youtube.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...

In [38]:
pd.concat([canadian_youtube,british_youtube]).head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...

#### `join()`
Lets you combine different Dataframe which have an `index in common`.

`Note`: Here the suffix are necessary because the dataframes have the same column names.

In [39]:
left = canadian_youtube.set_index(['title','trending_date'])
right = british_youtube.set_index(['title','trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK').head(2) # lsuffix/rsuffix: left/right Sufffix adding to the original name

,,video_id_CAN,channel_title_CAN,category_id_CAN,publish_time_CAN,tags_CAN,views_CAN,likes_CAN,dislikes_CAN,comment_count_CAN,thumbnail_link_CAN,...,tags_UK,views_UK,likes_UK,dislikes_UK,comment_count_UK,thumbnail_link_UK,comments_disabled_UK,ratings_disabled_UK,video_error_or_removed_UK,description_UK
title,trending_date,,,,,,,,,,,,,,,,,,,,,
Eminem - Walk On Water (Audio) ft. Beyoncé,17.14.11,n1WpP7iowLc,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,...,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579.0,787420.0,43420.0,125882.0,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
PLUSH - Bad Unboxing Fan Mail,17.14.11,0dBIkQ4Mz1M,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#

---

In [42]:
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia